<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
        <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>Accountant never dies! Hello again!</title>
</head>
<body>
<br>
<table align="center" width="90%" cellspacing="0" border="1">
    <tr><td><H3>Accountant v4 - Flask - main page</H3></td></tr>
</table>


<!-- Nawigacja -->
<table align="center" width="90%" cellspacing="0" border="0">
    <tr><td><b>Main</b>&nbsp/&nbsp<a href="history.html"><u>History</u></a></td></tr>
</table>
<br>

<!--  Stan konta pokaż,  zmien saldo -->
<table align="center" border="1" width="90%" cellspacing="0">
    <tr>
        <td align="left" width="30%">
            <font size="5" color="red" >Stan konta</font>
            <Br><br>
                 <font size="5" color="blue">  {{stan_konta}} <font color="black">PLN</font></font>
        </td>
        <td valign="top">
        <font size="5" color="red" >Zmień Saldo</font>
            <br><Br>
             <form method="post">
                 <input type="hidden" name="akcja" value="saldo">
        <font size="3" ><b>Zmiana:</b></font>
        &nbsp &nbsp
                    <input type="text" name="wartosc" placeholder="Wartość" value="{{request.form.wartosc}}"/>
        &nbsp/&nbsp
                 <input type="text" name="komentarz" placeholder="Komentarz" value="{{request.form.komentarz}}"/>
        &nbsp/&nbsp
                    <input type="submit" value="Do IT!"/>
                </form>
        <font size="3" color="green">{{rezultat_saldo}}</font>
        </td>
    </tr>
</table>

<br>

<!--  Magazyn lewa kolumna,  zakup i sprzedaz prawa -->
<table align="center" border="1" width="90%" cellspacing="0">
    <tr>
        <td align="left" valign="top" width="30%">
            <font size="5" color="red">Magazyn</font>
            <br>
            {% for produkt in magazyn %}
                {{ produkt }} : {{ magazyn[produkt] }}
            <br>
            {% endfor %}
        </td>


        <td align="center" valign="top" width="35%">
        <font size="5" color="red" >Zakup</font>
              <form method="post" >
                  <input type="hidden" name="akcja" value="zakup">
                    <font size="3" ><b>Kupujemy:</b></font>
        <br><br>
                         <input type="text" name="produkt" placeholder="Nazwa produktu" value="{{request.form.produkt}}"/>
        <Br><br>
                         <input type="text" name="cena" placeholder="Cena" value="{{request.form.cena}}"/>
      <Br><Br>
                         <input type="text" name="ilosc" placeholder="Ilość" value="{{request.form.ilosc}}"/>
         <Br><br>

                    <input type="submit" value="Do IT!"/>
                </form>
        <font size="3" color="green">{{rezultat_zakup}}</font>
            <Br><Br>
        </td>

       <td align="center" valign="top" width="35%">
        <font size="5" color="red">Sprzedaż</font>
              <form method="post">
                    <input type="hidden" name="akcja" value="sprzedaz">
                         <font size="3" ><b>Sprzedajemy:</b></font>
                        <Br><Br>
<!-- rozwijany form start -->

                                    <div class="form-group column col-3 column col-6 col-xs-12">
                                        <select class="form-select" name="produkt">
                                        {% for produkt in magazyn %}
                                            <option {% if request.form.produkt == produkt  %} selected {% endif %}
                                            value = "{{produkt}}" >
                                            {{produkt}}</option>
                                         {% endfor %}
                                        </select>
                                    </div>
<!-- rozwijany form end -->

                         <input type="text" name="cena" placeholder="Cena" value="{{request.form.cena}}"/>

   <Br><Br>
                         <input type="text" name="ilosc" placeholder="Ilość" value="{{request.form.ilosc}}"/>
    <Br><Br>
                    <input type="submit" value="Do IT!"/>
                </form>
        <font size="3" color="green">{{rezultat_sprzedaz}}</font>
                  <br><br>


        </td>
    </tr>
</table>
<br><Br>
</body>
</html>